<div class="studycontent_mainmenu container" ng-controller="StudyContentListController">
    <div class="row">
       <!-- <div class="col-xs-12 col-md-4">
             <div class="study_content_caption" ui-sref="study_content_video_list">
                <img alt="Video" src="/static/images/video.jpg"/>
                <div class="content_name">
                    <h1>Video</h1>
                    <h3>See all</h3>
                </div>
            </div>
        </div>-->
        <div class="col-xs-12 col-md-5 col-md-offset-1">
             <div class="study_content_caption" ui-sref="study_content_audio_list">
                <img alt="Audio" src="/static/images/audio.jpg"/>
                <div class="content_name">
                    <h1>Audio</h1>
                    <h3>See all</h3>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
             <div class="study_content_caption" ui-sref="study_content_text_list">
                <img alt="Text" src="/static/images/text.jpg"/>
                <div class="content_name">
                    <h1>Text</h1>
                    <h3>See all</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
       <!-- <div class="col-xs-12 col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">Top Videos</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <phua-video-items-list></phua-video-items-list>
                    </div>
                    <div class="text-center border-top"><a ui-sref="study_content_video_list"><h4>See all</h4></a></div>
                </div>
            </div>
        </div>-->

        <div class="col-xs-12 col-md-5 col-md-offset-1">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">Top Audio</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <phua-audio-items-list></phua-audio-items-list>
                    </div>

                    <div class="text-center border-top"><a ui-sref="study_content_audio_list"><h4>See all</h4></a></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-5">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="text-center">Top Texts</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <phua-text-items-list></phua-text-items-list>
                    </div>
                    <div class="text-center border-top"><a ui-sref="study_content_text_list"><h4>See all</h4></a></div>
                </div>

            </div>
        </div>
    </div>
</div>


