<div ng-if="contentType=='audio'">
    <div class="panel">
        <div class="panel-heading">Audio</div>
        <div class="panel-body">

            <div style="text-align: center">
                <div class="selection">
                    <select class="select" ng-init="selectLevel = dataLevel.data[0]"  ng-model='selectLevel' ng-change = 'selectFunction(selectLevel, selectTheme)' ng-options = 'item.levelName for item in dataLevel.data track by item.levelUrl'></select>
                </div>
                <div class="selection">
                    <select class="select" ng-init="selectTheme = dataTheme.data[0]" ng-model="selectTheme" ng-change = 'selectFunction(selectLevel, selectTheme)' ng-options="items.themeName for items in dataTheme.data track by items.themeUrl"></select>
                </div>
            </div>

            <div class="error_selection" ng-if="items.length==0">
                <h3>No matching audio content found</h3>
                <p>Try selecting a different theme or study level</p>
            </div>
            <div class="row padding-bottom marginTop" style="cursor: pointer" ng-click="go('study_content_audio_item', {id: item.id})" ng-repeat="item in items">
                <div class="col-xs-8 visible-xs">
                    <h4 ng-bind="item.name"></h4>
                </div>
                <div class="col-xs-4 visible-xs">{{ item.study_level | cnvStudyLevel }}</div>
                <div class="col-xs-12 col-sm-2 text-center speaker-center gray-link">
                    <a ui-sref="study_content_audio_item({id: item.id})">
                        <i class="fa fa-volume-up fa-5x"></i>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-7 text-left marginTop">
                    <h3 class="hidden-xs" ng-bind="item.name"></h3>
                    <p ng-bind="item.description"></p>
                </div>
                <div class="col-sm-2 hidden-xs marginTop">{{ item.study_level | cnvStudyLevel }}</div>
            </div>
        </div>
    </div>
</div>
<div ng-if="contentType=='video'">
    <div class="panel">
        <div class="panel-heading">Video</div>
        <div class="panel-body">
            <div class="row padding-bottom marginTop" style="cursor: pointer" ng-click="go('study_content_video_item', {id: item.id})"  ng-repeat="item in items">
                <div class="col-xs-8 visible-xs">
                    <h4 ng-bind="item.name"></h4>
                </div>
                <div class="col-xs-4 visible-xs">{{ item.study_level | cnvStudyLevel }}</div>
                <div class="col-xs-12 col-sm-4 col-md-3 marginTop">
                    <a ui-sref="study_content_video_item({id: item.id})">
                        <img src="{{ item.thumbnail }}" class="img-thumbnail video-img" alt="{{item.name}}" />
                    </a>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-7 text-left marginTop">
                    <h3 class="hidden-xs" ng-bind="item.name"></h3>
                    <p ng-bind="item.description"></p>
                </div>
                <div class="col-sm-2 hidden-xs marginTop">{{ item.study_level | cnvStudyLevel }}</div>
            </div>
        </div>
    </div>
</div>
<!-- TODO: move cursor-pointer to CSS -->