<div class="row">
    <div class="col-xs-12 col-md-9 col-lg-9" >
        <div class="panel media-content-panel">
            <div class="panel-heading"><span ng-bind="item.name"></span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12" style="padding:0">
                        <div class="videogular-container" ng-class="{'audio': item.type == 'audio', 'video': item.type == 'video'}">
                            <videogular vg-player-ready="onPlayerReady($API)" vg-update-time="onUpdateTime($currentTime, $duration)"
                                        vg-theme="mediaconfig.theme.url" class="videogular-container"
                                        ng-class="{'audio': item.type == 'audio', 'video': item.type == 'video'}">
                                <vg-media ng-if="item.type == 'video'" vg-src="mediaconfig.sources" vg-type="video"></vg-media>
                                <vg-media ng-if="item.type == 'audio'" vg-src="mediaconfig.sources" vg-type="audio"></vg-media>

                                <vg-controls>
                                    <vg-play-pause-button></vg-play-pause-button>
                                    <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                                    <vg-scrub-bar>
                                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                    </vg-scrub-bar>
                                    <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
                                    <vg-playback-button vg-speeds='mediaconfig.playbackSpeeds'></vg-playback-button>
                                    <vg-volume>
                                        <vg-mute-button></vg-mute-button>
                                    </vg-volume>
                                </vg-controls>
                            </videogular>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" style="padding:0"  ng-show="controlLanguage == 'chinese'">    
                        <div class="srt_wrapper">
                            <div class="srt_container srt_container_chinese">
                                <div style="position: relative; top:0">
                                   <p  class="srt_line" ng-if="item.srt.length" ng-repeat="line in item.srt">
                                    <span id="studySpeak" class="srt_word chinese-hoverable "  ng-click="searchWord(word.text)" ng-repeat="word in line" ng-class="  {'srt_word__highlited': word.id == currentTextId, 'srt_word__clicked': word.text == selectedWord.simplified}" >
                                        <span class="texttool-span-no-space"  ng-attr-id="{{ word.id }}" scroll-on-update="word.id" container="chinese">{{ word.text }}</span>
                                    </span>
                                </p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 squeeze-char" style="padding:0" ng-show="controlLanguage == 'pinyin'">    
                        <div class="srt_wrapper">
                            <div class="srt_container srt_container_pinyin">
                                <div style="position: relative; top:0">
                                  <p class="srt_line" ng-if="item.srt.length" ng-repeat="line in item.srt">
                                    <span class="srt_word chinese-hoverable" ng-click="searchWord(word.text)" ng-repeat="word in line" ng-class="{'srt_word__highlited': word.id == currentTextId, 'srt_word__clicked': word.text == selectedWord.simplified}" >
                                        <span ng-attr-id="{{ word.id }}" scroll-on-update="word.id" line-length="line" container="pinyin">{{ word.pinyin_text}}</span>
                                    </span>
                                </p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xs-12 squeeze-char" style="padding:0;" ng-show="controlLanguage == 'pin1yin1'">    
                        <div class="srt_wrapper">
                            <div class="srt_container srt_container_pin1yin1">
                                <div style="position: relative; top:0">
                                  <p class="srt_line " ng-if="item.srt.length" ng-repeat="line in item.srt">
                                    <span class="srt_word chinese-hoverable"  ng-click="searchWord(word.text)" ng-repeat="word in line" ng-class="{'srt_word__highlited': word.id == currentTextId, 'srt_word__clicked': word.text == selectedWord.simplified}" >
                                        <span ng-attr-id="{{ word.id }}" scroll-on-update="word.id" container="pin1yin1">{{ word.pinyin_num}}</span>
                                    </span>
                                </p>
                                </div>

                            </div>
                        </div>
                    </div>          
                </div>
            </div>
            <div class="panel-footer text-center">
                <button class="btn-in-group group-btn-first" ng-class="{'active':controlLanguage==='chinese'}" ng-click="changeType('chinese')">Off</button>
                <button class="btn-in-group group-btn-middle" ng-class="{'active':controlLanguage==='pinyin'}" ng-click="changeType('pinyin')">Pinyin</button>
                <button class="btn-in-group group-btn-last" ng-class="{'active':controlLanguage==='pin1yin1'}" ng-click="changeType('pin1yin1')">Pin1yin1</button>
            </div>          
        </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3">
        <div class="panel panel-keywords" ng-if="item.keywords.length != 0">
            <div class="panel-heading">Key Words</div>
                <div class="panel-body" ng-repeat="keyword in item.keywords">
                   <div class="col-md-3 col-xs-3">
                        <i ng-click="playWord(keyword.keyword)" class="fa fa-volume-up fa-2x orange play-word-speaker"></i>
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <h3 class="play-word-speaker" ng-click="playWord(keyword.keyword)">
                            {{keyword.keyword}}
                        </h3>
                        <p>{{keyword.meaning}}</p>
                        <ul ng-if="item.keywords.description.length != 0">
                            <li class="panel-keywords-definition" ng-repeat="description in keyword.description"><span>{{$index+1}}. </span>{{description}}</li>
                        </ul>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        
    </div>
</div>



