#fouter {
	align-content: center;
}

#outer {
	width: 200px;
	display: inline-block;
	margin-left: 50px;
	margin-right: 50px;
}

#innerleft {
	background-color: #d24726;
	width: 20px;
	height: 100px;
	float: left;
	border: 0px solid black;
	border-collapse: all;
	color: white;
	text-align: center;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0px;
}

#innerright {
	background-color: #eeeeee;
	width: 180px;
	height: 100px;
	float: right;
	border: 0px solid black;
	border-collapse: all;
}

#plus {

}

#chinese {
	text-align: center;
	font-size: 40px;
	color: black;
	margin: 0 0 0 0;
}

#pinyin {
	text-align: center;
	font-size: 24px;
	color: black;
	margin: 0 0 0 0;
}

#english {
	text-align: center;
	font-size: 18px;
	color: black;
	margin: 0 0 0 0;
}

p {

}