<div class="payments-successful-cancellation container">
    <div class="panel">
        <div class="panel-heading">
            Cancelling Subscription
        </div>
        <div class="panel-body text-center">
            <p ng-show="subscriptionStatus.active" style="font-weight:bold;margin:20px 0;">Proceeding cancellation...</p>
            <div ng-hide="subscriptionStatus.active">
                <p style="font-weight:bold;margin:20px 0;">Your subscription has been cancelled and will not renewed. You will
                    retain access to all features until {{ subscriptionStatus.cancel_date | date:'yyyy-MM-dd'}} after which you will revert to a Free Member.</p>

                <a class="btn" ui-sref="profile">Ok</a>
            </div>
        </div>
    </div>


</div>