<form stripe-form="stripeCallback" class="form-horizontal" name="subscribeForm" role="form"
      autocomplete="off">
    <div class="panel-body">
        <payments-fieldset form="form"></payments-fieldset>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success marginLeft">Subscribe</button>
        </div>
    </div>
</form>