<div class="payments-unsubscribe-feedback container">
    <div class="panel">
        <div class="panel-heading">
            Leave Feedback
        </div>

        <div class="panel-body">
            <h3>Feedback is important to us. If you wouldn't mind, please let us know why you are cancelling:</h3>
            <hr>
                <form role="form" class="text-center">
                  <div class="form-group">
                    <textarea type="text" class="form-control" id="reason" ng-model="form.reason" rows=2 placeholder="Your reason"></textarea>
                  </div>
                  <button type="submit" class="btn action-button" ng-click="cancelSubscription()">Send Feedback</button>
                </form>
        </div>
    </div>




</div>