<div class="col-xs-12 col-sm-8 col-lg-4 col-sm-offset-2 col-lg-offset-4">
        <div class="panel text-center">
            <div class="panel-heading">Pinyin Keyboard</div>
            <div class="panel-body pinyintool">
                <div class="copied">Copied!</div>
                <textarea class="form-control textarea-pinyin" name="pinyin-keyboard" cols="30" rows="8" ng-model="pinyinText" ng-keydown="removeChar($event)"></textarea>
            </div>
            <div class="panel-footer">
                <div>
                    <button type="button" class="btn pinyin-char-btn" ng-click="addPinyinChar(char)"  ng-repeat="char in pinyinCharsArr" ng-bind-html="char.char"></button>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-block" ng-click="copyPinyinText()"  ng-click-copy="{$ pinyinText $}">Copy</button>
                    </div>
                </div>
            </div>
        </div>
</div>
