<div class=" col-xs-12 col-md-8 col-lg-8 col-md-offset-2">
            <div class="panel test-settings selection-options">
                <div class="panel-heading">Chinese Names</div>
                    <div class="panel-body">
                        <p style="font-weight:bold;margin:20px 0;" class="text-center">Find your Chinese name by using the below tools</p>
                        <div class="text-center first-letter">
                            <button type="button" class="btn-in-group group-btn-middle" ng-class="{active:activeLetter === letter}" ng-repeat="letter in alphabet" ng-click="getNames(letter)">{$ letter $}</button>
                        </div>
                        <div class="table-responsive no-margin-bottom">
                            <table class="table table-striped table-condensed">
                                <thead>
                                <tr>
                                    <th>English</th>
                                    <th>Sex</th>
                                    <th>Chinese</th>
                                    <th>Pinyin</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="name in filteresChineseNames = ( chineseNames | firstLetter:activeLetter )">
                                        <th>{$ name.english $}</th>
                                        <th ng-if="name.sex == 1" ><img style="width:20px; height:20px" ng-src="/static/images/male.jpg" alt="name"></th>
                                        <th ng-if="name.sex == 2"><img style="width:20px; height:20px" ng-src="/static/images/female.jpg" alt="name"></th>
                                        <th>{$ name.chinese $}</th>
                                        <th>{$ name.pinyin $}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>
            </div>
        </div>