<div class="container" ng-controller="PracticeController">    
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h1>Words</h1>
        </div>
        <div class="col-md-5 col-lg-5">&nbsp;</div>
        <div class="col-md-1 col-lg-1">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">Arrange Cards</div>
                <div class="panel-body">
                    <p class="marginBottom">Sort your cards into categories to make testing easier</p>
                    <a ui-sref="arrange-cards" class="btn btn-sm">Arrange Cards</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">Test</div>
                <div class="panel-body">
                    <p class="marginBottom">Test yourself by taking a Flashcard Test</p>
                    <a ui-sref="test-settings" class="btn btn-sm">New Test</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6">
            <h1>Sentences</h1>
        </div>
        <div class="col-md-5 col-lg-5">&nbsp;</div>
        <div class="col-md-1 col-lg-1">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">Arrange Cards</div>
                <div class="panel-body">
                    <p class="marginBottom">Sort your cards into categories to make testing easier</p>
                    <a ui-sref="arrange-cards-sentences" class="btn btn-sm">Arrange Cards</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel">
                <div class="panel-heading">Test</div>
                <div class="panel-body">
                    <p class="marginBottom">Test yourself by taking a Flashcard Test</p>
                    <a ui-sref="test-settings-sentences" class="btn btn-sm">New Test</a>
                </div>
            </div>
        </div>
    </div>
</div>