<div class="container" ng-controller="TestSettingsController">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel test-settings card-categories" ng-class="{diss: options.mode=='tonepracticewithaudio'}">
                <div class="panel-heading">Flashcard Lists</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Cards</th>
                                    <th>Score</th>
                                    <th>Last Tested</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tr ng-if="!categories.length">
                                <td>
                                    <p>Loading...</p>
                                </td>
                            </tr>
                            <tr ng-repeat="category in categories">
                                <td> {$ category.name $} </td>
                                <td> {$ category.cards_count $} </td>
                                <td> {$ ((category.learned_cards_count / category.cards_count) * 100) | number:0 $}% </td>
                                <td> {$ category.current_time | default: 'Never' $} </td>
                                <td> <input type="checkbox" ng-model="category.selected" ng-change="loadCategory($index, category.id)"/> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-7 col-lg-8 marginBottom">
                            <span>Total Selected: {$ getTotalSelected() $}</span>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-5 col-lg-4">
                            <span class="footer-buttons">
                                <a class="btn btn-sm" ng-click="selectAllCategories()">Select All</a>
                                <a class="btn btn-sm" ng-click="clearCategoriesSelection()">Clear</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="panel test-settings selection-options">
                <div class="panel-heading">Selection Options</div>
                <form>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped">
                            <tr><td>
                                No. Of Cards<br/>
                                <input type="radio" name="number" value="20" ng-model="options.number" /> 20
                                <input type="radio" name="number" value="30" ng-model="options.number" /> 30
                                <input type="radio" name="number" value="50" ng-model="options.number" /> 50
                                <input type="radio" name="number" value="100" ng-model="options.number" /> 100
                                <input type="radio" name="number" value="200" ng-model="options.number" /> 200
                            </td></tr>

                            <tr><td>
                                Test mode<br/>
                                <select style="margin:5px 0 5px 20px;" name="testmode" ng-model="options.mode">
                                <option value="normal">Normal</option>
                                <option value="tonepractice">Tone Practice</option>
                                <option value="tonepracticewithaudio">Tone Practice With Audio</option>
                                <option value="fillintheblanks">Fill In The Blanks</option>
                                <option value="multiplechoice">Multiple Choice</option>
                                </select>
                            </td></tr>

                            <tr ng-if="options.mode=='normal'"><td>
                                Show<br/>
                                <input type="checkbox" ng-model="options.show.hanzi" /> Chinese
                                <input type="checkbox" ng-model="options.show.pinyin" /> Pinyin
                                <input type="checkbox" ng-model="options.show.english" /> English <br/>
                            </td></tr>


                            <tr ng-if="options.mode=='tonepractice'"><td>
                                Show<br/>
                                <input type="radio" name='tonepractice' ng-model="options.tone" value="hanzi"/> Show Chinese - Enter Tones
                                <input type="radio" name='tonepractice'  ng-model="options.tone" value="englishpinyin" /> Show English + Untoned Pinyin - Enter Tones
                            </td></tr>


                            <tr ng-if="options.mode=='fillintheblanks'"><td>
                                Show<br/>
                                <input type="radio" ng-model="options.fill" value="pinyin" /> Show English – Enter Pinyin
                                <input type="radio" ng-model="options.fill" value="hanzi" /> Show English – Enter Chinese
                            </td></tr>


                            <tr ng-if="options.mode=='multiplechoice'"><td>
                                Show<br/>
                                <input type="radio" ng-model="options.multi" value="pinyin" /> Show Chinese – Select Pinyin
                                <input type="radio" ng-model="options.multi" value="correcttones"/> Show Chinese – Select Correct Tones
                                <input type="radio" ng-model="options.multi" value="definition" /> Show Chinese – Select Definition <br/>
                            </td></tr>

                            <tr ng-hide="options.mode=='tonepracticewithaudio'"><td>
                                Chinese Characters<br/>
                                <input type="radio" name="chinese_characters" ng-model="options.show.traditional" ng-value="false"/> Simplified
                                <input type="radio"  name="chinese_characters"  ng-model="options.show.traditional" ng-value="true"/> Traditional
                            </td></tr>


                            <tr ng-hide="options.mode=='tonepracticewithaudio'"><td>
                                Selection Method<br/>
                                <input type="radio" name="method" value="random" ng-model="options.method"/> Random
                                <div class="description">The system will randomly select cards regardless of score</div>
                                <input type="radio" name="method" value="priority" ng-model="options.method"/> Priority
                                <div class="description">The system will prioritize cards with lower scores</div>
                            </td></tr>
                        </table>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="hidden-xs col-sm-9 col-md-8 col-lg-8">&nbsp;</div>

                            <div class="col-sm-3 col-md-4 col-lg-4">
                                <span class="footer-buttons">
                                    <button class="btn btn-sm" ng-click="resetDefaults()">Defaults</button>
                                    <button ui-sref="test" ng-if="options.mode!='tonepracticewithaudio'" ng-disabled="selectedCategories() <= 0" class="btn btn-sm">Start</button>
                                     <button ui-sref="test" ng-if="options.mode=='tonepracticewithaudio'" class="btn btn-sm">Start</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
