            <div class="panel test-panel mobile-field">
                <div class="panel-heading">Test</div>
                <div class="panel-body" ng-if="!showResults">
                    <table class="table table-striped table-condensed card">
                        <tbody>
                            <tr ng-if="options.show.hanzi">
                                <td colspan="2" class="card-simplified">
                                    <span ng-if="!options.show.traditional" ng-bind-html="currentCard.word.simplified|asChinese:'s'|asHtml"></span>
                                    <span ng-if="options.show.traditional" ng-bind-html="currentCard.word.traditional|asChinese:'t'|asHtml"></span>
                                </td>
                            </tr>
                            <tr ng-if="options.show.pinyin">
                                <td colspan="2" class="card-pinyin">{$ currentCard.word.pinyin_normalized $}</td>
                            </tr>
                            <tr ng-if="options.show.english" ng-repeat="meaning in currentCard.word.meanings_references">
                                <td width="0%"></td>
                                <td width="100%" style="text-align: center" class="card-meaning">
                                    <span ng-if="currentCard.word.meanings_references.length > 1">{$ $index+1 $}.</span>
                                    <span class="meaning" ng-bind-html="meaning|asHtml"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span ng-if="">No results</span>
                </div>
                <div class="panel-body" style="text-align: center;" ng-if="showResults">
                    <h5>You answered {$ correctCards() $} out of {$ cards.length $} words correctly for a score of {$ statistics['Percentage']()|number:1 $} %</h5>
                </div>
                <div class="panel-footer no-vert-padding">
                    <div class="row" style="height: 124px; max-height: 124px" ng-if="!cardRevealed && !showResults">
                        <div class="col-xs-12 orange-block test-button vcenter"  style="height: 124px; max-height: 124px"  ng-click="showCurrentCard()"><p>Show Card</p></div>
                    </div>
                    <div class="row"  ng-if="cardRevealed && !showResults">
                            <div>
                                <div class="col-xs-6 orange-block">
                                    Correct
                                </div>
                                <div class="col-xs-6 orange-block">
                                    Incorrect
                                </div>
                            </div>
                            <div>
                                <div class="col-xs-3 orange-block test-button" ng-disabled="counter > cards.length - 1" ng-click="answerCard(4)">
                                    <p class="button-number">4</p>
                                    <p>Immediate Recall</p>
                                 </div>
                                <div class="col-xs-3 orange-block test-button" ng-disabled="counter > cards.length - 1" ng-click="answerCard(3)">
                                    <p class="button-number">3</p>
                                    <p>Took Some Time</p>
                                </div>
                                <div class="col-xs-3 orange-block test-button" ng-disabled="counter > cards.length - 1" ng-click="answerCard(1)">
                                    <p class="button-number">2</p>
                                    <p>Not Quite Right</p>
                                </div>
                                <div class="col-xs-3 orange-block test-button" ng-disabled="counter > cards.length - 1" ng-click="answerCard(0)">
                                    <p class="button-number">1</p>
                                    <p>Don't Know</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
