<div class="panel test-panel  mobile-field">
    <div class="panel-heading">Test</div>
    <div class="panel-body" ng-if="!showResults">
        <div style="font-size: 50px; color: green" class="text-center" ng-show="correctMessage">Correct!</div>
        <div style="font-size: 50px; color: red" class="text-center" ng-show="incorrectMessage">Incorrect!</div>
        <table class="table table-striped table-condensed card">
            <tbody>
            <tr ng-repeat="meaning in currentCard.word.meanings_references">
                <td width="0%"></td>
                <td width="100%" style="text-align: center" class="card-meaning">
                    <span ng-if="currentCard.word.meanings_references.length > 1">{$ $index+1 $}.</span>
                    <span class="meaning" ng-bind-html="meaning|asHtml"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <span ng-if="">No results</span>
    </div>
    <div class="panel-body" style="text-align: center;" ng-if="showResults">
        <h5>You answered {$ correctCards() $} out of {$ cards.length $} words correctly for a score of {$
            statistics['Percentage']()|number:1 $} %</h5>
    </div>
    <div class="panel-footer no-vert-padding" style="height: 86px;">
        <div class="row" ng-if="!showResults">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <form ng-submit="answerFillin(filltext)">
                    <div class="input-group customize-field">
                        <input type="text" ng-model="filltext.text" class="form-control input-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-lg" type="submit">&#10003;</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
