<div class="panel test-panel  mobile-field">
    <div class="panel-heading">Test</div>
    <div class="panel-body" ng-if="!showResults">
        <div style="font-size: 50px; color: green" class="text-center" ng-show="correctMessage">Correct!</div>
        <div style="font-size: 50px; color: red" class="text-center" ng-show="incorrectMessage">Incorrect!</div>
        <table class="table table-striped table-condensed card">
            <tbody>
            <tr ng-if="options.show.hanzi">
                <td colspan="2" class="card-simplified">
                    <span ng-if="!options.show.traditional"
                          ng-bind-html="currentCard.word.simplified|asChinese:'s'|asHtml"></span>
                    <span ng-if="options.show.traditional"
                          ng-bind-html="currentCard.word.traditional|asChinese:'t'|asHtml"></span>
            </tr>
            <tr ng-if="options.show.pinyin">
                <td colspan="2" class="card-pinyin">{$ currentCard.word.pinyin_normalized $}</td>
            </tr>
            <tr ng-if="options.show.english" ng-repeat="meaning in currentCard.word.meanings_references">
                <td width="0%"></td>
                <td width="100%" style="text-align: center" class="card-meaning">
                    <span ng-if="currentCard.word.meanings_references.length > 1">{$ $index+1 $}.</span>
                    <span class="meaning" ng-bind-html="meaning|asHtml"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <span ng-if="">No results</span>
    </div>
    <div class="panel-body" style="text-align: center;" ng-if="showResults">
        <h5>You answered {$ correctCards() $} out of {$ cards.length $} words correctly for a score of {$
            statistics['Percentage']()|number:1 $} %</h5>
    </div>
    <div class="panel-footer no-vert-padding multiple">
        <div class="row" ng-if="!showResults">
            <div>
                <div class="col-xs-6 orange-block test-button" ng-disabled="counter > cards.length - 1"
                     ng-click="answerMulti(choices[0])">
                    <p class="multi-choice" ng-bind-html="choices[0]|asHtml"></p>
                </div>
                <div class="col-xs-6 orange-block test-button" ng-disabled="counter > cards.length - 1"
                     ng-click="answerMulti(choices[1])">
                    <p class="multi-choice" ng-bind-html="choices[1]|asHtml"></p>
                </div>
            </div>
            <div>
                <div class="col-xs-6 orange-block test-button" ng-disabled="counter > cards.length - 1"
                     ng-click="answerMulti(choices[2])">
                    <p class="multi-choice" ng-bind-html="choices[2]|asHtml"></p>
                </div>
                <div class="col-xs-6 orange-block test-button" ng-disabled="counter > cards.length - 1"
                     ng-click="answerMulti(choices[3])">
                    <p class="multi-choice" ng-bind-html="choices[3]|asHtml"></p>
                </div>
            </div>
        </div>
    </div>
</div>
