<div class="panel cards-dialog">
    <div class="panel panel-heading">
        Add words to category
    </div>

    <div class="panel panel-body">
        <form ng-show="_cardsToAdd">
            <fieldset>
                <p>Which category would you like to add this words to?</p>
                    <select class="form-control marginTop" ng-options="category.name for category in userCategories" ng-model="addDestinationCategory"></select>
                    <button class="btn btn-sm action-button marginTop" ng-click="addCardsToList(addDestinationCategory)">Add</button>
            </fieldset>
        </form>
        <p ng-show="!cardsToAdd()">You have not selected any words</p>
    </div>
</div>
