<div class="panel cards-dialog">
    <div class="panel panel-heading">
        Add word to category
    </div>

    <div class="panel panel-body">
        <form>
            <fieldset>
                <p>
                Which category would you like to add this {$ ngDialogData.itemName $} to?
                </p>
                    <select class="form-control marginTop" ng-options="category.name for category in ngDialogData.categories" ng-model="ngDialogData.destinationCategory"></select>
                    <button class="btn btn-sm action-button marginTop" ng-click="ngDialogData.addToList(ngDialogData.item, ngDialogData.destinationCategory) || closeThisDialog()">Add</button>
            </fieldset>
        </form>
    </div>
</div>
