<div class="panel cards-dialog">
    <div class="panel panel-heading">
        Copy Cards
    </div>

    <div class="panel panel-body">
        <form>
            <fieldset>
                <p>
                Where would you like to copy the selected cards?
                </p>
                    <select class="form-control marginTop" ng-options="category.name for category in categories" ng-model="$parent.copyDestination"></select>
                    <button class="btn btn-sm action-button marginTop" ng-click="cardsCopy()">Copy</button>
            </fieldset>
        </form>
    </div>
</div>
