<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Copy Lists
    </div>

    <div class="panel panel-body">
        Are you sure you want to copy the following lists:
        <p>
            <ul class="name-category-list">
                <li ng-repeat="category in selectedCategories()">{$ category.name $}</li>
            </ul>
        </p>

        <p>
            <button class="btn btn-sm action-button" ng-click="categoriesCopy()">Copy</button>
        </p>
    </div>
</div>
