<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Delete Categories
    </div>

    <div class="panel panel-body">
        Are you sure you want to delete the following categories:
        <p>
            <ul class="name-category-list">
                <li ng-repeat="category in selectedCategories()">{$ category.name $}</li>
            </ul>
        </p>

        <p>
            <button class="btn btn-sm action-button" ng-click="categoriesDelete()">Delete</button>
        </p>
    </div>
</div>
