<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Create New Category
    </div>

    <div class="panel panel-body">
        <form>
            <fieldset>
                <p><div class="input-group input-category-name">
                    <input class="form-control" type="text" ng-model="$parent.newCategoryName" placeholder="Name" />
                    <span class="input-group-addon">
                        <i ng-class="newCategoryNameOk() ? 'new-category-name fa fa-check' : 'new-category-name fa fa-times'" ng-show="$parent.newCategoryName.length >= 0">
                        </i>
                    </span>
                </div></p>

                <p>
                    <button class="btn btn-sm action-button" ng-click="categoriesNew($parent.newCategoryName)" ng-disabled="!newCategoryNameOk()">Create</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>
