<div class="container">
    <div class="panel login-dialog" ng-controller="ForgotPasswordController">
        <div class="panel panel-heading">
            Forgot Username / Password?
        </div>

        <div class="panel panel-body">
            <form name="forgotPasswordForm">
                <fieldset>
                    <p>Type in your email address below and we will send out your account details.</p>
                    <p><div class="input-group">
                        <input class="form-control" type="email" name="email" required ng-model="email" placeholder="user@example.com">
                        <span class="input-group-addon"> <i class="fa fa-envelope-o"></i> </span>
                    </div></p>
                    <p>
                        <button type="button" ng-disabled="forgotPasswordForm.$invalid || forgotPasswordForm.$pending" ng-click="submitForm()" class="btn btn-sm login-button login-btn-forgot">SEND NOW</button>
                    </p>
                </fieldset>
            </form>
            <div>Need Help? <a ui-sref="contact">Contact Us</a></div>
            <div>Don't have an account? <a ui-sref="signup">Sign up here</a></div>
        </div>

    </div>
</div>

