<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Save Categories
    </div>

    <div class="panel panel-body">
        Are you sure you want to save the following categories:
        <p>
            <ul>
                <li ng-repeat="category in selectedPubCategories()">{$ category.name $}</li>
            </ul>
        </p>

        <p>
            <button class="btn btn-sm action-button" ng-click="pubcategoriesSave()">Save</button>
        </p>
    </div>
</div>
