<div class="panel categories-dialog">
    <div class="panel panel-heading">
        Create New Category and add words to it
    </div>

    <div class="panel panel-body">
        <form>
            <fieldset>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="$parent.addDestinationCategory" placeholder="Name" />
                    <span class="input-group-addon">
                        <i ng-class="destinationCategoryNameOk() ? 'new-category-name fa fa-check' : 'new-category-name fa fa-times'" ng-show="$parent.addDestinationCategory.length > 0">
                        </i>
                    </span>
                </div>
                <button class="btn btn-sm action-button marginTop" ng-click="$parent.addCardsToNewList()" ng-disabled="!destinationCategoryNameOk()">Create and add words</button>
            </fieldset>
        </form>
    </div>
</div>
