<div class="container" ng-controller="LessonDetailController">
    <div ng-if="lesson">
        <div class="row">
            <div class="col-xs-12 col-sm-3 margins-tb text-center">
                <span ng-if="previousLesson">
                    <a ui-sref="lesson_detail({lessonNumber: previousLesson.number})">Previous
                    Lesson: {$ previousLesson.name $} &lt;&lt; </a>
                </span>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3 class="text-center">Current Lesson: {$ lesson.number $} - {$ lesson.name $}</h3>
            </div>
            <div class="col-xs-12 col-sm-3 margins-tb text-center">
                <span ng-if="nextLesson">
                    <a ui-sref="lesson_detail({lessonNumber: nextLesson.number})">&gt;&gt; Next Lesson: {$ nextLesson.name $}</a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel">
                    <div class="panel-heading">New Words</div>
                    <div class="panel-body">
                        <p>The list contains all the new words you are likely to come across in this lessons. It is
                            recommended that you first learn as many of these words as possible before starting the
                            lesson. To add a lesson to your flashcard lists just click the + button. Words already found
                            in your lists will have the<span class="check-symbol fa fa-check"></span>symbol displayed.</p>
                        <div class="table-responsive marginTop">
                            <table class="table table-striped table-condensed" ng-if="lesson.new_words.length">
                                <tr ng-repeat="word in lesson.new_words track by $index">
                                    <td>
                                        <span ng-bind="word.simplified" ng-click="selectWordFromDictionary(word.simplified)"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="word.pinyin_normalized" ng-click="selectWordFromDictionary(word.simplified)"></span>
                                    </td>
                                    <td>{$ word.selected_description $}</td>
                                    <td class="column audio">
                                        <div class="speaker inline-block">
                                            <span class="icon icon-speakera" ng-click="playSound('word', word.id)">
                                            </span>
                                        </div>
                                    </td>
                                    <td class="column added">
                                        <span ng-class="word.added ? 'fa fa-check' : ''" ng-show="word.added"></span>
                                    </td>
                                    <td class="column add">
                                        <span class="fa fa-plus-square-o" ng-click="openAddToListDialog(word)"></span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Word Usage</div>
                    <div class="panel-body word-usage" ng-if="lesson.word_usage">
                        <div dynamic="lesson.word_usage" data-ng-init="init()"></div>
                    </div>
                </div>
                <button class="btn lesson-complete" ng-click="completeLesson(lessonNumber)">Complete Lesson</button>
            </div>
        </div>
    </div>
</div>
