<div class="container" ng-controller="LessonListController">
    <div class="panel">
        <div class="panel-heading">Lessons</div>
        <div class="panel-body">
            <p class="lessons-intro">These lessons are suitable for complete beginners of Chinese through to intermediate levels.
            They cover all the basic aspects of Mandarin Chinese grammar and once completed should serve as a solid base for further study. The vocabulary contains all the HSK Levels 1 and 2 words and a significant part of HSK Level 3.</p>

            <p class="lessons-intro" style="margin-bottom: 20px;"> Signed in users can keep track of which lessons they have completed by clicking the <span class="lesson-ok-gray glyphicon glyphicon-ok"></span> icon to mark a lesson as complete</p>

            <!-- <table class="lesson-table table table-striped">
                <tr class="row" ng-repeat=" lesson in lessons">
                    <td class="col-md-2">
                        <a ui-sref="lesson_detail({lessonNumber: lesson.number})">
                            <img src="{$ lesson.thumbnail $}" class="img-thumbnail lesson-thumbnail" alt="{$lesson.name$}" />
                        </a>
                    </td>
                    <td class="col-md-8">
                        <a ui-sref="lesson_detail({lessonNumber: lesson.number})">
                            <h4>Lesson {$ lesson.number $}: {$ lesson.name $}</h4>
                        </a>
                        <p>{$ lesson.description $}</p>
                    </td>
                    <td class="col-md-1">
                        <p>
                            <span class="glyphicon glyphicon-ok lesson-ok" ng-class="lesson.lesson_completed ? 'lesson-ok-green' : 'lesson-ok-gray'" ng-click="switchLearnedStatus(lesson.number)"></span>
                        </p>
                    </td>
                    <td class="col-md-1">
                        <p>{$ lesson.new_words_count $}</p>
                        <p>New words</p>
                    </td>
                </tr>
            </table> -->
 
            <div class="row lesson-item" ng-repeat="lesson in lessons">
                <div class="col-xs-7 col-sm-3 col-md-2">
                    <a ui-sref="lesson_detail({lessonNumber: lesson.id})">
                        <img src="{$ lesson.thumbnail $}" class="img-thumbnail lesson-thumbnail" alt="{$lesson.name$}" />
                    </a>
                </div>
                <div class="col-sm-7 col-md-8 hidden-xs">
                    <a ui-sref="lesson_detail({lessonNumber: lesson.id})">
                        <h4>Lesson {$ lesson.number $}: {$ lesson.name $}</h4>
                    </a>
                    <p class="marginTop">{$ lesson.description $}</p>
                </div>
                <div class="col-xs-2 col-sm-1">
                    <p>
                        <span class="glyphicon glyphicon-ok lesson-ok" ng-class="lesson.lesson_completed ? 'lesson-ok-green' : 'lesson-ok-gray'" ng-click="switchLearnedStatus(lesson.number)"></span>
                    </p>
                </div>
                <div class="col-xs-3 col-sm-1">
                    <p>{$ lesson.new_words_count $}</p>
                    <p>New words</p>
                </div>
                <div class="col-xs-12 visible-xs">
                    <a ui-sref="lesson_detail({lessonNumber: lesson.id})">
                        <h4 class="text-center marginTop">Lesson {$ lesson.number $}: {$ lesson.name $}</h4>
                    </a>
                    <p class="marginTop">{$ lesson.description $}</p>
                </div>
            </div>
        </div>
    </div>
</div>
