<div class=" col-xs-12 col-md-8 col-lg-8 col-md-offset-2">
    <div class="panel">
        <div class="panel-heading">Suggest A New Word</div>
        <div class="panel-body">
			<suggested-word-form></suggested-word-form>
        </div>
    </div>
</div>