<!--suppress ALL -->

<div class="container" ng-controller="WordDetailController">
    <div class="row">
            <form ng-submit="submitQuery()" novalidate>
                <div class="form-group dictionary-search col-xs-12 col-sm-9">
                    <input tabindex="1" class="form-control search-field" type="search" ng-change="submitQuery()" placeholder="有, yǒu, you3 ..." ng-model="query" />
                    <button class="btn" type="submit">Search</button>
                </div>
                <div class="col-xs-12 col-sm-3" style="padding-top: 10px; padding-left: 15px; margin-bottom: 30px;">
                    <a href="javascript: void history.back();">Return to Results</a>
                </div>
            </form>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">Word Information</div>
                <div class="panel-body word-detail-info" style="text-align: center">
                    <div class="col-sm-3 word">
                        <div class="simplified" ng-show="options.characters === 'simplified' || options.characters === 'both'" ng-bind-html="word.simplified|asChinese:'s'|asHtml"></div>
                        <div class="traditional" ng-show="options.characters === 'traditional' || options.characters === 'both'" ng-bind-html="word.traditional|asChinese:'t'|asHtml"></div>
                        <div class="pinyin">{$ word.pinyin_normalized $}</div>
                        <div>
                            <a ng-class="'options-items ' + classForOption('characters', 'simplified')" ng-click="setOption('characters', 'simplified')">Simplified</a>
                            <a ng-class="'options-items ' + classForOption('characters', 'traditional')" ng-click="setOption('characters', 'traditional')">Traditional</a>
                            <a ng-class="'options-items ' + classForOption('characters', 'both')" ng-click="setOption('characters', 'both')">Both</a>
                        </div>
                        <div ng-show="word.hsk_level">
                            <span>HSK </span>
                            <span ng-bind="word.hsk_level"></span>
                        </div>
                        <div class="text-center speaker marginTop marginBottom">
                            <span ng-click="playSoundd('word', word.id)"  class="icon icon-speaker"  ng-class="{speakerplaying: soundIsPlayingg}"></span>
                        </div>

                        <!-- <div>
                            <a ng-show="!soundIsPlaying" ng-click="playSound('word', word.id)"><img src="/static/images/speaker-static.png"  width="32" height="32"  alt="Play sound"/></a>
                            <p ng-show="soundIsPlaying" ><img src="/static/images/speaker-animated.gif"  width="32" height="32"  alt="Play sound"/></p>
                        </div> -->
                    </div>
                    <div class="col-sm-5 col-md-6 col-lg-6 word-meanings">
                        <table class="table table-stripped table-condensed">
                            <tr ng-repeat="meaning in word.meanings_references">
                                <td><span>{$ $index + 1 $}. </span><span ng-bind-html="meaning|asHtml"></span></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-4 col-md-3"  ng-if="features.users">
                        <p>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <span class="btn btn-xs" style="width: 100%" ng-click="openAddToListDialog(word)">Add to list</span>
                                </div>
                            </div>
                        </p>
                        <div>Found in List(s)</div>
                        <p>
                            <ul ng-show="word.categories.length > 0" style="text-align: left; list-style-type: none">
                                <li ng-repeat="category in word.categories">{$ category $}</li>
                            </ul>
                        </p>

                    </div>
                </div>
                <div class="panel" style="margin-bottom: 0" ng-show="isOpenCharInfo">
                    <div class="panel-heading">Character Information</div>
                    <div class="panel-body">
                        <div>
                            <animate-chinese class="animated-char-box"></animate-chinese>
                        </div>
                    </div>
                </div>
                <div class="more-info" ng-click="showCharacterInfo(word.traditional)">
                    <p class="char-info" ng-if="!isOpenCharInfo">View Character Information</p>
                    <p class="char-info" ng-if="isOpenCharInfo">Hide Character Information</p>
                </div>
                </div>
                
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">Example Sentences</div>
                <div class="panel-body">
                    <div ng-if="word.exampleSentences.length > 0">
                        <div class="sentences-pagination">
                            <a ng-show="currentPage != 0" ng-click="currentPage=currentPage-1; loggingMinus()">
                            Previous
                            </a>
                            {$currentPage+1$}/{$numberOfPages()$}
                            <a ng-show="currentPage < word.exampleSentences.length/pageSize - 1" ng-click="currentPage=currentPage+1; loggingPlus()">
                            Next
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr ng-repeat="sentence in word.exampleSentences | startFrom:currentPage*pageSize | limitTo:pageSize">
                                    <td class="column added sentence-control">
                                        <span ng-class="sentence.added ? 'fa fa-check' : ''" ng-show="sentence.added"></span>
                                    </td>
                                    <td class="column add sentence-control">
                                         <span class="fa fa-plus-square-o" ng-click="openAddToSentenceListDialog(sentence)"></span>
                                    </td>
                                    <td class="column sentence-control">
                                        <div id="speak" class="speaker inline-block">
                                            <span   class="icon icon-speakera texttool-span-no-space " ng-click=" playSound('sentence', sentence.id, $event) ">
                                            </span>
                                        </div>
                                        <!-- <a ng-click="playSound('sentence', sentence.id)">
                                            <img src="/static/images/speaker-static.png"  width="16" height="16"  alt="Play sound"/>
                                        </a> -->
                                    </td>
                                    <td class="sentence-block">
                                        <p dynamic="sentence.simple"></p>
                                        <p ng-bind="sentence.pinyin"></p>
                                        <p ng-bind="sentence.english"></p>
                                        <p class="small-gray">Source: <a href="//tatoeba.org">Tatoeba.org</a></p>
                                    </td>
                                </tr>
                            </table>
                           <!--  <div class="row" ng-repeat="sentence in word.exampleSentences | startFrom:currentPage*pageSize | limitTo:pageSize">
                                <div class="col-xs-1 column added sentence-control">
                                    <span ng-class="sentence.added ? 'fa fa-check' : ''" ng-show="sentence.added"></span>
                                </div>
                                <div class="col-xs-1 column add sentence-control">
                                    <span class="fa fa-plus-square-o" ng-click="openAddToSentenceListDialog(sentence)"></span>
                                </div>
                                <div class="col-xs-1 column sentence-control">
                                    <a ng-click="playSound('sentence', sentence.id)"><img src="/static/images/speaker-static.png"  width="16" height="16"  alt="Play sound"/></a>
                                 </div>
                                <div class="col-xs-6 sentence-block">
                                    <p dynamic="sentence.simple"></p>
                                    <p ng-bind="sentence.pinyin"></p>
                                    <p ng-bind="sentence.english"></p>
                                    <p class="small-gray">Source: <a href="//tatoeba.org">Tatoeba.org</a></p>
                                </div>
                            </div> -->
                        </div>
                        <div class="sentences-pagination">
                        <a ng-show="currentPage != 0" ng-click="currentPage=currentPage-1; loggingMinus()">
                            Previous
                        </a>
                        {$currentPage+1$}/{$numberOfPages()$}
                        <a ng-show="currentPage < word.exampleSentences.length/pageSize - 1" ng-click="currentPage=currentPage+1; loggingPlus()">
                            Next
                        </a>
                        </div>
                    </div>
                    <div ng-show="word.exampleSentences.length == 0">
                        <p>No example sentences found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
