<div class="container" ng-controller="CheckoutController">
    <div ng-if="!subscription || subscription.status == 'canceled'">
        <div class="panel">
            <div class="panel-heading">Payment</div>
            <payments-form cb-get-subscription="getSubscription()"
                            name="name"
                            exp-month="expMonth"
                            exp-year="expYear"
                            number="number"
                            cvc="cvc"
            ></payments-form>
        </div>
    </div>
    <div ng-if="subscription && subscription.status != 'canceled'">
        <div class="panel">
            <div class="panel-heading">Payment</div>
            <div class="panel-body payment-congratulation text-center">
                <h5><strong>Congratulation, you're now a Paid Member of ChineseVault.com</strong></h5>
                <p>This membership entitles you to unlimited use of all the features of the website.</p>
                <br>
                <p>You are currently enjoying 30-day trial period and will be charged $7 USD each month starting from <span ng-bind="subscription.current_period_end | date:'yyyy-MM-dd'"></span></p>
                <p>If you change your mind you can cancel at any time. To cancel your membership please go to "Account Details" and "Click Subscription" in the Subscription Details section.</p>
            </div>
            <div class="panel-footer">
                <button ng-click="goNextState()" class="btn">Continue</button>
            </div>
        </div>
    </div>
</div>
