<div class="container" ng-controller="ContactController">
    <header>
        <h3 class="page-header">Contact Us</h3>
    </header>
    <section>
        <p>
            Please feel free to get in touch with us by emailing
            <a href="mailto:admin@chinesevault.com?subject=ChineseVault.com Contact Request (Test)&body=Enter Your Message Here.">
                admin@chinesevault.com
            </a>
            or by using the contact form below.
        </p>

        <div class="alert alert-success" ng-if="contactSuccess">Thank you for contacting us. We will get back to you shortly.</div>
        <form ng-submit="submitForm()" ng-if="!contactSuccess">
            <div class="form-group">
                <label for="customerName">Your Name</label>
                <input required type="text" class="form-control" name="name" ng-value="auth.isLoggedIn() ? auth.getUser().username : ''" id="customerName" ng-model="form.name" placeholder="Your Name">
            </div>
            <div class="form-errors" ng-if="form.errors.name.length > 0">
                <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.name">{$ error $}</div>
            </div>
            <div class="form-group">
                <label for="customerEmail">Your Email</label>
                <input required type="email" class="form-control" name="email" ng-value="auth.isLoggedIn() ? auth.getUser().email : ''" id="customerEmail" ng-model="form.email" placeholder="johnny@appleseed.me">
            </div>
            <div class="form-errors" ng-if="form.errors.email.length > 0">
                <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.email">{$ error $}</div>
            </div>
            <div class="form-group">
                <label for="messageSubject">Subject</label>
                <input required type="text" class="form-control" name="subject" id="messageSubject" ng-model="form.subject" placeholder="Enter Subject">
            </div>
            <div class="form-errors" ng-if="form.errors.subject.length > 0">
                <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.subject">{$ error $}</div>
            </div>
            <div class="form-group">
                <label for="messageContent">Message</label>
                <textarea required type="text" rows="10" class="form-control" name="message" id="messageContent" ng-model="form.message" placeholder="Enter Message"></textarea>
            </div>
            <div class="form-errors" ng-if="form.errors.message.length > 0">
                <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.message">{$ error $}</div>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>
</div>
