<div class="container" ng-controller="LoginController">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="panel login-dialog">
                <div class="panel-heading">Sign In</div>
                <div class="panel-body">
                        <div ng-if="!showMessage">
                            <div class="text-center signin-text">
                               <h3>This feature requires you to be logged in.</h3> 
                                <p>Please sign in below or <a ui-sref="signup">register</a> a new account.</p> 
                            </div>
                        </div>
                    <form name="loginForm" ng-submit="login()" autocomplete="off">
                        <div class="form-errors" ng-if="formData.errors.__all__.length > 0">
                            <div class="alert alert-danger" role="alert" ng-repeat="error in formData.errors.__all__">{$ error $}</div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" ng-class="{'has-error': (loginForm.identification.$dirty && loginForm.identification.$invalid) || formData.errors.identification.length > 0}">
                                <input class="form-control" type="text" required name="identification" placeholder="Username or Email" ng-model="credentials.identification">
                                <span class="input-group-addon"> <i class="fa fa-envelope-o"></i></span>
                            </div>
                            <div class="form-errors" ng-if="formData.errors.identification.length > 0">
                                <div class="alert alert-danger" role="alert" ng-repeat="error in formData.errors.identification">{$ error $}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" ng-class="{'has-error': (loginForm.password.$dirty && loginForm.password.$invalid) || formData.errors.password.length > 0}">
                                <input class="form-control" type="password" required name="password" placeholder="Password" ng-model="credentials.password">
                                <span class="input-group-addon"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <div class="form-errors" ng-if="formData.errors.password.length > 0">
                                <div class="alert alert-danger" role="alert" ng-repeat="error in formData.errors.password">{$ error $}</div>
                            </div>
                        </div>
                        <button type="submit" ng-disabled="loginForm.$invalid || loginForm.$pending" class="btn btn-sm login-button">Sign Me In</button>
                    </form>
                </div>
                <div class=" panel-footer">
                    <div>Forgot <a ui-sref="forgottenPassword">Username / Password?</a></div>
                    <div>Don't have an account? <a ui-sref="signup">Sign up here</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
