<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12" ng-controller="ProfileController">
            <form name="profileForm" class="form-horizontal" ng-submit="submit()">
                <div class="alert alert-success" ng-if="updateSuccess">Success!</div>

                <div class="form-errors" ng-if="form.errors.__all__.length > 0">
                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.__all__">{$ error $}
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">Account Details</div>
                    <div class="panel-body">
                        <div class="form-group" ng-class="{'has-error': profileForm.username.$dirty && profileForm.username.$invalid}">
                            <label for="inputUserName" class="col-sm-2 control-label required">Username</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input class="form-control" type="text" id="inputUserName" ng-value="auth.getUser().username" disabled>
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.email.$dirty && profileForm.email.$invalid}">
                            <label for="inputEmail" class="col-sm-2 control-label required">Email</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            type="email"
                                            id="inputEmail"
                                            ng-value="auth.getUser().email"
                                            disabled>
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.location.$dirty && profileForm.location.$invalid}">
                            <label for="inputCountry" class="col-sm-2 control-label">Location</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="form-control" name="location" id="inputCountry" ng-model="form.location"
                                            placeholder="Select Location">
                                        <option ng-repeat="location in countries" ng-value="location.id">{$ location.name $}
                                        </option>
                                    </select>
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.location.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.location">{$
                                        error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.chineseLevel.$dirty && profileForm.chineseLevel.$invalid}">
                            <label for="inputChineseLevel" class="col-sm-2 control-label">Chinese Level</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <select class="form-control" id="inputChineseLevel" name="chineseLevel"
                                            ng-model="form.chinese_level" placeholder="Select Chinese Level"
                                            ng-options="chinese_level for chinese_level in chinese_levels"></select>
                                    <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.chineseLevel.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.chineseLevel">
                                        {$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- <div class="panel"> -->
                    <div class="panel-heading">Subscription Details</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div ng-if="!isUnsubscribe">
                                <div class="row">
                                    <label class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3 control-label">User type:</label>
                                    <div class="col-xs-6 col-sm-6 marginBottom">
                                        <p class="control-label" style="text-align: left">{$ usertype $}</p>
                                    </div>
                                </div>
                                <div class="row" ng-if="subscriptionRenewalDate">
                                    <label class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 control-label">Subscription Renewal Date:</label>
                                    <div class="col-xs-6 col-sm-6 marginBottom">
                                        <p class="control-label" style="text-align: left">{$ subscriptionRenewalDate | date:'yyyy-MM-dd' $}</p>
                                    </div>
                                </div>
                                <div class="row marginBottom" ng-if="subscriptionDetails">
                                    <label class="col-xs-5 col-xs-offset-1 col-sm-3 col-sm-offset-3 control-label">Subscription details:</label>
                                    <div class="col-xs-6 col-sm-6 marginBottom">
                                        <p class="control-label" style="text-align: left">{$ subscriptionDetails $}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="isUnsubscribe">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p style="font-weight:bold;margin:20px 0;" class="text-center">Your currently unsubscribed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-xs-8 col-xs-offset-4 col-sm-offset-5 col-sm-5">
                                        <button class="btn btn-sm subscriptionBtn" type="button" ng-if="usertype == 'Paid member' && !isUnsubscribe"
                                                ng-click="deleteSubscription()" ng-cloak>Cancel Subscription
                                        </button>
                                        <button class="btn btn-sm subscriptionBtn" type="button" ng-if="usertype == 'Paid member' && isUnsubscribe"
                                                ng-click="renewSubscription()" ng-cloak>Renew Subscription
                                        </button>
                                        <button class="btn btn-sm subscriptionBtn" type="button" ng-if="usertype == 'Free member'"
                                                ng-click="updateSubscription()" ng-cloak>Became Paid Member
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div>
                <div class="panel"> -->
                    <div class="panel-heading">Change Password</div>
                    <div class="panel-body">
                        <div class="alert alert-info">Leave the password fields blank if you do not want to
                            change the
                            password.
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.currentPassword.$dirty && profileForm.currentPassword.$invalid}">
                            <label for="inputCurrentPassword" class="col-sm-3 col-md-2 control-label required">Current
                                Password</label>
                            <div class="col-sm-9 col-md-10">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            id="inputCurrentPassword"
                                            type="password"
                                            name="currentPassword"
                                            min="6"
                                            placeholder="Current Password"
                                            ng-model="form.currentPassword">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.currentPassword.length > 0">
                                    <div class="alert alert-danger" role="alert"
                                         ng-repeat="error in form.errors.currentPassword">{$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.password1.$dirty && profileForm.password1.$invalid}">
                            <label for="inputPassword" class="col-sm-3 col-md-2 control-label required">Password</label>
                            <div class="col-sm-9 col-md-10">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            id="inputPassword"
                                            type="password"
                                            name="password1"
                                            min="6"
                                            placeholder="Password"
                                            ng-model="form.password1">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.password1.length > 0">
                                    <div class="alert alert-danger" role="alert"
                                         ng-repeat="error in form.errors.password1">{$
                                        error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-class="{'has-error': profileForm.password2.$dirty && profileForm.password2.$invalid}">
                            <label for="inputPassword2" class="col-sm-3 col-md-2 control-label required">Re-type
                                Password</label>
                            <div class="col-sm-9 col-md-10">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            id="inputPassword2"
                                            type="password"
                                            name="password2"
                                            match="form.password1"
                                            placeholder="Password (confirm)"
                                            ng-model="form.password2">
                                    <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.password2.length > 0">
                                    <div class="alert alert-danger" role="alert"
                                         ng-repeat="error in form.errors.password2">{$
                                        error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group text-center">
                            <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
                                <button type="submit" class="btn btn-block" style="display:inline-block; margin-top: 25px" 
                                ng-disabled="profileForm.$invalid || profileForm.$pending">
                                Save
                            </button>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>