
<div class="container" ng-controller="SignupController">
    <div class="panel">
        <div class="panel-heading">Signup</div>
        <div class="panel-body">
            <div class="row" ng-if="!signupSuccess">
                <div class="col-xs-12 col-sm-6">
                    <p>By signing up you can keep track of your Chinese progress, it's completely free and only takes 2 minutes.</p>
                    <form name="registrationForm" class="form-horizontal" ng-submit="submitSignupForm()" novalidate>
                        <div class="form-errors" ng-if="form.errors.__all__.length > 0">
                            <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.__all__">{$ error
                                $}
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.username.$dirty && registrationForm.username.$invalid}">
                            <label for="inputUserName" class="col-md-3 control-label required">Username</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            type="text"
                                            id="inputUserName"
                                            name="username"
                                            placeholder="Username"
                                            ng-model="form.username"
                                            pattern="{$ usernameValidationPattern $}"
                                            required="true">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.username.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.username">
                                        {$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.email.$dirty && registrationForm.email.$invalid}">
                            <label for="inputEmail" class="col-md-3 control-label required">Email</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            type="email"
                                            required="true"
                                            id="inputEmail"
                                            name="email"
                                            placeholder="Email Address"
                                            ng-model="form.email">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.email.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.email">{$
                                        error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.password1.$dirty && registrationForm.password1.$invalid}">
                            <label for="inputPassword" class="col-md-3 control-label required">Password</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            id="inputPassword"
                                            required="true"
                                            type="password"
                                            name="password1"
                                            min="6"
                                            placeholder="Password"
                                            ng-model="form.password1">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.password1.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.password1">
                                        {$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.password2.$dirty && registrationForm.password2.$invalid}">
                            <label for="inputPassword2" class="col-md-3 control-label required">Re-type Password</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input
                                            class="form-control"
                                            id="inputPassword2"
                                            required
                                            type="password"
                                            name="password2"
                                            match="form.password1"
                                            placeholder="Password (confirm)"
                                            ng-model="form.password2">
                                    <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.password2.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.password2">
                                        {$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.location.$dirty && registrationForm.location.$invalid}">
                            <label for="inputCountry" class="col-md-3 control-label">Location</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control" name="location" id="inputCountry" ng-model="form.location"
                                            placeholder="Select Location">
                                        <option ng-repeat="location in countries" ng-value="location.id">{$ location.name
                                            $}
                                        </option>
                                    </select>
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.location.length > 0">
                                    <div class="alert alert-danger" role="alert" ng-repeat="error in form.errors.location">
                                        {$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': registrationForm.chineseLevel.$dirty && registrationForm.chineseLevel.$invalid}">
                            <label for="inputChineseLevel" class="col-md-3 control-label">Chinese Level</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <select class="form-control" id="inputChineseLevel" name="chineseLevel"
                                            ng-model="form.chinese_level" placeholder="Select Chinese Level"
                                            ng-options="chinese_level for chinese_level in chinese_levels"></select>
                                    <span class="input-group-addon"><i class="fa fa-bar-chart"></i></span>
                                </div>
                                <div class="form-errors" ng-if="form.errors.chineseLevel.length > 0">
                                    <div class="alert alert-danger" role="alert"
                                         ng-repeat="error in form.errors.chineseLevel">{$ error $}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="radio">
                                    <label><input type="radio" name="freememberchkbox" ng-model="form.paid"
                                                  ng-value="false">Free member</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="paidmemberchkbox" ng-value="true"
                                                  ng-model="form.paid"><span>Paid member</span><span style="color: #d24726; margin-left: 10px"><strong>Free 30-day trial</strong></span>
                                        <p style="color: #d24726">$7/month after trial period <span><a ui-sref="paidonly({hideSorry: true})"
                                           href="#">Tell me more</a></span>
                                        </p> <!-- TODO move color to css -->
                                    </label>
                                </div>
                            </div>
                        </div>
                        <fieldset ng-if="form.paid">
                            <div class="col-md-8 col-md-offset-4 stripe-logo"><img src="/static/images/stripe.png"></div>
                            <div class="form-group">
                                <label class="col-md-3 control-label required" for="card-holder-name">Name on Card</label>
                                <div class="col-md-9">
                                    <input required ng-model="form.card.name" type="text" class="form-control" name="card-holder-name"
                                           id="card-holder-name" placeholder="Card Holder's Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label required" for="card-number">Card Number</label>
                                <div class="col-md-9">
                                    <input required ng-model="form.card.number" type="text" class="form-control" name="card-number"
                                           id="card-number" placeholder="Debit/Credit Card Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label required" for="expiry-month">Expiration Date</label>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <select required ng-model="form.card.expMonth" class="form-control"
                                                    name="expiry-month"
                                                    id="expiry-month">
                                                <option value="01">Jan (01)</option>
                                                <option value="02">Feb (02)</option>
                                                <option value="03">Mar (03)</option>
                                                <option value="04">Apr (04)</option>
                                                <option value="05">May (05)</option>
                                                <option value="06">June (06)</option>
                                                <option value="07">July (07)</option>
                                                <option value="08">Aug (08)</option>
                                                <option value="09">Sep (09)</option>
                                                <option value="10">Oct (10)</option>
                                                <option value="11">Nov (11)</option>
                                                <option value="12">Dec (12)</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-6">
                                            <select required ng-model="form.card.expYear" class="form-control" name="expiry-year">
                                                <option value="16">2016</option>
                                                <option value="17">2017</option>
                                                <option value="18">2018</option>
                                                <option value="19">2019</option>
                                                <option value="20">2020</option>
                                                <option value="21">2021</option>
                                                <option value="22">2022</option>
                                                <option value="23">2023</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label required" for="cvc">Card CVC</label>
                                <div class="col-md-4">
                                    <input required ng-model="form.card.cvc" type="text" class="form-control" name="cvc" id="cvc"
                                           placeholder="Security Code">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn"
                                        ng-disabled="registrationForm.$invalid || registrationForm.$pending">Create Account
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>What can members do?</h2>
                    <ul class="marginTop">
                        <li  style="padding-bottom: 30px">Use flashcards to keep track of your progress</li>
                        <li  style="padding-bottom: 30px">Learn vocabulary for HSK levels 1-6</li>
                        <li  style="padding-bottom: 30px">Learn by analyzing real text with the Text Tool</li>
                        <li  style="padding-bottom: 30px">Use Audio and text study content to improve your listening and reading skills</li>
                    </ul>
                    <a ui-sref="paidonly({hideSorry:true})">Discover more members only features</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO

Subcription Renewal Date: This field seems to be showing the wrong date. (This is for a user who has signed up and cancelled multiple times)

We need to make it so that new user can become a paid user at registration.
See NewSignup.jpg

If user selects Paid member then presses "Create Account" the payments details should show below. Confirmation email should be sen once the entire page is completed.

Fix payments form
-->