
<div class="container">
    <div class="panel">
        <div class="panel-heading">
            Successful Signup
        </div>
        <div class="panel-body sign-up-success">
            <div>
                <p>You have successfully signed up. A confirmation email has been sent to {$ userData.email $}. Please
                    follow
                    the instructions there to activate your account.</p>
            </div>
            <br>
            <div ng-if="userData.paid && options.paymentFinished == false" class="text-center">
                <h5 style="font-size:17px"><strong>Processing payment, please wait</strong></h5>
                <div class="spinner center-block"><img width="80" src="/static/images/spinner.svg"></div>
            </div>
            <div ng-if="userData.paid && options.paymentFinished && options.paymentSuccess" class="text-center">
                <h5><strong>Congratulations, you’re now a Paid Member of ChineseVault.com.</strong></h5>
                <p>This membership entitles you to unlimited use of all the features of the website.</p>
                <br>
                <p>You are currently enjoying a 30-day trial period and will be charged $7 USD each month starting from
                    <span ng-bind="options.trialEnd | date:'yyyy-MM-dd'"></span></p>

                <p>If you change your mind you can cancel at any time. To cancel your membership please go to “Account
                    Details”
                    and click “Cancel Subscription” in the Subscription Details section.</p>
            </div>
            <div ng-if="userData.paid && options.paymentFinished && options.paymentSuccess == false" class="text-center">
                <p>Though you are successfully registered there was a problem proceeding your payment, you can try again later from your profile page</p>
            </div>
        </div>
    </div>
</div>